/**
 * Editor CSS rules
 */
body .keyfigure_bloc {
	display: table;
	padding: 0 1em;
	position: relative;
}
body .keyfigure_bloc::before {
	display: block;
	position: absolute;
	top: 0;
	padding: 2px 3px;
	font-size: 10px;
	background: #dedede;
	color: #777;
	content: attr(data-label);
	
}

body .keyfigure_bloc_figure {
	display: table-cell;
	vertical-align: middle;
	font-size: 60px;
	color: #000;
	padding: .5em;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
}

body .keyfigure_bloc_text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
	font-size: 18px;
	color: #000;
	padding: 1em;
	border: 1px dashed #ccc;
}